#game{
    background-color:yellow;
    width:100%;
    padding:5% 0;
}
#game > .options{
    display: flex;
    justify-content: center;
}

#game .main{
    background-color:seagreen;
    padding:3% 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#game .wordLetter{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#game .wordRow{
    display: flex;
    justify-content: center;
}